 {% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="./css/blog.css">

	<style type="text/css">
		body{
			text-align: center;
			background-color: rgb(188,88,88);
			color:white;
			font-family:"Lobster";
		}

		.box{
			width: 1000px;
			height: 800px;
			margin-left: auto;
			margin-right: auto;
			border: solid white;
			padding-top: 50px;
		}

		a{
			text-decoration: none;
			color:white;
		}


	</style>
</head>
<body>

<div class="box">
	<h1>Welcome Back To Blue Faire's Life</h1>
	<hr>
	<p style="font-size:20px">it is cool to see you again mon amy!</p>

	<a href="http://lanjingling.pythonanywhere.com/">啦啦啦啦啦超开心部署了第一个django网站在pythonanywhere，点击我跳转</a>

	<hr>

	<div>{{ posts }}</div>
	<div>{{ posts }}</div>

	<div class="page-header">
        <h1><a href="/">page-header</a></h1>
    </div>

    <div class="post">
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>


    <div class="content container" >
        <div class="row">
        	
            <div class="col-md-8">
<!--             	对于每一个posts中的post，for循环 -->
                {% for post in posts %}   
                    <div class="post">
                  
                        <div class="date">
                            {{ post.published_date }}

                        </div>
                        <h1><a href="">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> 


</div>





</body>
</html>