<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body{
			text-align: center;
			background-color: rgb(188,88,88);
			color:white;
			font:sans-serif;
		}

		.box{
			width: 1000px;
			height: 800px;
			margin-left: auto;
			margin-right: auto;
			border: solid white;
		}

		a{
			text-decoration: none;
			color:white;
		}


	</style>
</head>
<body>

<div class="box">
	<h1>欢迎来到蓝精灵的世界</h1>
	<hr>
	<p style="font-size:20px">it is cool to see you again mon amy!</p>

	<a href="http://lanjingling.pythonanywhere.com/">啦啦啦啦啦超开心部署了第一个django网站在pythonanywhere，点击我跳转</a>

</div>
</body>
</html>